*{
    padding: 0;
    margin: 0;
}

header{
    background-color: #0066FF;
    color: black;
}

main{
    display: flex;
    background-color: #0F1117;
}

.ultimos_jogos{
    display: flex;
    color: white;
    width: 150px;
    height: 80px;
    justify-content: space-around;
    align-items: center;
    
}

.lol{
background-color: rgb(34, 34, 34);
margin: 5px;
}

.major{
background-color: rgb(34, 34, 34);
margin: 5px;
}

.vct{
background-color: rgb(34, 34, 34);
margin: 5px;
}
